/* empty css file */

body {
  background-color: bisque;
}

:root {
  --white-bg-color: #fff;
  --footer-bg-color: #377dc0;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--footer-bg-color);
  color: var(--white-bg-color);
  text-align: center;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
